<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Form</title>
    <link rel="stylesheet" href="/create.css">
</head>
<body>
<fieldset>
<div>
    <form th:action="@{/posts/create}" method="post" th:object="${post}">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" th:field="*{title}"><br>
        <label for="body">Body:</label><br>
        <textarea id="body" name="body" th:field="*{body}"></textarea><br>
        <input type="submit" name="submit" value="submit">
    </form>
</div>
</fieldset>
</body>
</html>