<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
<h1>Edit this post!</h1>

<div>
  <form th:action="@{/posts/__${id}__/edit}" th:method="post" th:object="${post}">
      <label for="title">Edit title:</label>
      <input type="text" id="title" name="title" th:field="*{title}"><br>
      <label for="body">Edit body:</label>
      <textarea id="body" name="body" th:field="*{body}"></textarea><br>
      <button type="submit">Change</button>
  </form>
</div>
</body>
</html>


