<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert a Coffee Into our Database</title>
</head>
<body>
<fieldset>
    <legend>Add a Coffee</legend>
    <form action="/coffee/new" method="post" th:object="${coffee}">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" th:field="*{brand}"><br>
        <label for="roast">Roast:</label>
        <input type="text" id="roast" name="roast" th:field="*{roast}"><br>
        <label for="origin">Origin:</label>
        <input type="text" id="origin" name="origin" th:field="*{origin}"><br>
        <select name="supplier" id="suppliers" th:field="*{supplier.id}">
            <option
                th:each="supplier : ${suppliers}"
                th:value="${supplier.id}"
                th:text="${supplier.name}">
            </option>
        </select><br>
        <input type="submit" value="submit">
    </form>
</fieldset>
</body>
</html>