<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suppliers</title>
</head>
<body>
<h2>Enter a supplier:</h2>
<form action="/coffee/suppliers" method="post" th:object="${supplier}">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" th:field="*{name}">
    <input type="submit" value="Enter">
</form>
<div th:if="${suppliers.size() > 0}">
    <h2>List of suppliers:</h2>
    <ul>
        <li th:each="supplier : ${suppliers}">
            <p th:text="${supplier.name}"></p>
            <ul>
                <li th:each="coffee : ${supplier.coffees}">
                    <p th:text="|${coffee.brand} ${coffee.origin} ${coffee.roast}|"></p>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>